<!doctype html>
{% load static %}
<html lang="tr">
  <link>
    <meta charset="utf-8">
    <title>CİHAN İLKILIÇ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body>
    <body class="p-3 m-0 border-0 bd-example">

        <!-- Example Code -->
        
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home:index' %}">Anasayfa</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="{% url 'home:about' %}">Hakkımda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home:contact' %}">İletişim</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'article:article' %}">Makaleler</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'article:article_show' %}">Tüm Postlar </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="{% url 'article:article_create' %}">Post Oluştur</a>
                </li>
                {% else %}
                {% endif %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Hesaplar
                  </a>
                  <ul class="dropdown-menu">
                    {% if request.user.is_authenticated %}
                   <!--  <li><hr class="dropdown-divider"></li> -->
                    <li><a class="dropdown-item" href="{% url 'user:Logout' %}">Çıkış Yap</a></li>
                    <li><a class="dropdown-item" href="#">{{request.user}}</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'user:Login' %}">Giriş Yap</a></li>
                    <li><a class="dropdown-item" href="{% url 'user:User_Register' %}">Kayıt Oluştur</a></li>
                    {% endif %}
                    

                  </ul>
                </li>
                <!-- 
                <li class="nav-item">
                  <a class="nav-link disabled">Disabled</a>
                </li>
              -->
              </ul>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" name="search" placeholder="Ara.." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Bul</button>
              </form>
            </div>
          </div>
        </nav>
        
        <!-- End Example Code -->
    <div>
    {% block body %}
    
    {% endblock %}
    </div>


    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted mt-3 " >
        <!-- Section: Social media -->
        <section
          class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        >
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span>Sosyal ağlarda bizimle bağlantı kurun:</span>
          </div>
          <!-- Left -->
      
          <!-- Right -->
          <div>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
      
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>Şirket İsmi
                </h6>
                <p>
                  Here you can use rows and columns to organize your footer content. Lorem ipsum
                  dolor sit amet, consectetur adipisicing elit.
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                    ÜRÜNLER
                </h6>
                <p>
                  <a href="#!" class="text-reset">Angular</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">React</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Vue</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Laravel</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                    KULLANIŞLI BAĞLANTILAR
                </h6>
                <p>
                  <a href="#!" class="text-reset">Fiyat</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Ayarlar</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Ürünler</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Yardım</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                    İLETİŞİM
                </h6>
                <p><i class="fas fa-home me-3"></i> İstanbul/Esenyurt</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  info@example.com
                </p>
                <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2021 Copyright:
          <a class="text-reset fw-bold" href="https://mdbootstrap.com/">cihanilkilic.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
  </body>
</html>